<style>
  #PoD {
      position: absolute;
      width: 300px;
      margin: 0 auto; 
      right: 250px;
      top: 75px ;
      display: flex;
      text-align:center;
      justify-content: center;
      align-items: center;
  }
  #PoD img {
      position: absolute;
      vertical-align:middle;
      top: 75px;
  }
  .center {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
  #PoD h2 {
    display:inline-block;
    vertical-align:middle;
  }
  #LHC_p1_container {
      position: relative;
  }
  #LHC_p1_container img {
      position: absolute;
      top: 60px;
      left: 150px;
  }
</style>

{% load static %}
<div id="LHC_p1" name="LHC_p1" style="text-align: center; vertical-align: middle width:100%; height:100%; background-image: url({% static '/images/LHCb_detector.png' %}); 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
position: relative">
  <div id="PoD" class="PoD">
    <img id="PoD_Img" src="{% static location %}" alt="Aleq" width="420" height="600" title="Particle of the day">
    <div class="center"> <h2 style="color:rgb(255, 255, 255);">Particle of the day</h2></div>
</div>
  <div id="LHC_p1_container" class="image_container_LHC">
    <img id="LHC_p1Img" src="https://vistar-capture.web.cern.ch/vistar-capture/lhc1.png?0" alt="Aleq" >
  </div>


<script>
  function reload_immage_LCH_p1(){
    var LHC_p1 = document.getElementById('LHC_p1Img');
    LHC_p1.src = "https://vistar-capture.web.cern.ch/vistar-capture/lhc1.png?" + Math.random();
    //LHC_p1.style = "max-width: 80%; display: inline; position: center";
  };
  reload_immage_LCH_p1();
  setInterval(reload_immage_LCH_p1,1000);
</script>
