<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <script src="{% static '/javascript/jquery/js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static '/javascript/bootstrap-3.3.2-dist/js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="{% static '/styles/main.css' %}" type="text/css">
    </head>
    <body id="bdy" name="bdy">
    </body>

    <script type="text/javascript">
        function fill_div(){
            $.ajax({
            url: '/div_rotation',
            success: function(data) {
                
                // Get a reference to the last interval + 1
                const interval_id = window.setInterval(function(){}, Number.MAX_SAFE_INTEGER);

                // Clear any timeout/interval up to that id
                for (let i = 1; i <= interval_id; i++) {
                    window.clearInterval(i);
                }
                //fil div
                $('#bdy').html(data);
                // restart own interval
                setInterval(fill_div,8000); 
            }
            });
        }
        $(document).ready(function(){
            fill_div();
            setInterval(fill_div,8000);
        });
    </script>
</html>