
<style>
#PoD {
        position: relative;
}
#PoD img {
        position: absolute;
        top: 150px;
        right: 100px;
}
#SPS_p1 {
        position: relative;
}
#SPS_p1 img {
        position: absolute;
        top: 60px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
}
</style>
{% load static %}
<div id="SPS_p1" name="SPS_p1" style="text-align: center; width:100%; height:100%; background-image: url({% static '/images/CERN_map.jpg' %}); no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-repeat: no-repeat;
background-size: cover;
background-position: center center;">
<img class="foreground_image" id="SPS_p1Img" style="max-width: 80%;" src="url(&quot;https://vistar-capture.web.cern.ch/vistar-capture/sps1.png?0.8056890408664861&quot;);">
</div>
<script>
        function reload_immage_SPS_p1(){
                var SPS_p1 = document.getElementById('SPS_p1Img');
                SPS_p1.src = "https://vistar-capture.web.cern.ch/vistar-capture/sps1.png?" + Math.random();
                //SPS_p1.style = "max-width: 80%; display: inline; position: center"
        };
        reload_immage_SPS_p1();
        setInterval(reload_immage_SPS_p1,1000);
</script>